*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{
background:#f5f6fa;
}

header{
background:#111827;
color:white;
padding:15px;
display:flex;
justify-content:space-between;
align-items:center;
position:sticky;
top:0;
z-index:999;
}

.logo{
font-size:24px;
font-weight:bold;
}

header input{
width:40%;
padding:10px;
border:none;
border-radius:10px;
}

.hero{
height:350px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:linear-gradient(rgba(0,0,0,.5),
rgba(0,0,0,.5)),
url('https://images.unsplash.com/photo-1441986300917-64674bd600d8');
background-size:cover;
color:white;
}

.hero h1{
font-size:50px;
}

.categorias{
padding:20px;
text-align:center;
}

.categorias button{
padding:10px 20px;
margin:5px;
border:none;
border-radius:20px;
cursor:pointer;
}

.productos{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
padding:20px;
}

.card{
background:white;
border-radius:15px;
overflow:hidden;
box-shadow:0 10px 25px rgba(0,0,0,.15);
transition:.3s;
}

.card:hover{
transform:translateY(-8px);
}

.card img{
width:100%;
height:250px;
object-fit:cover;
}

.info{
padding:15px;
}

.precio{
font-size:24px;
color:#0f9d58;
font-weight:bold;
}

.agotado{
background:red;
color:white;
padding:5px;
display:inline-block;
margin-bottom:10px;
}

.btn{
width:100%;
padding:10px;
border:none;
background:#111827;
color:white;
cursor:pointer;
border-radius:10px;
}

.carrito{
position:fixed;
right:-400px;
top:0;
width:350px;
height:100%;
background:white;
padding:20px;
box-shadow:-5px 0 20px rgba(0,0,0,.2);
transition:.4s;
overflow:auto;
}

.carrito.activo{
right:0;
}

.btn-whatsapp{
width:100%;
padding:12px;
background:#25D366;
color:white;
border:none;
border-radius:10px;
}
